.cards {
  .wrapper {
    height: 100vh;

    .list {
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      display: flex;
      position: relative;
      padding: 0.3rem;

      .item {
        width: 100vw;
        height: 100%;
        display: flex;
        position: absolute;
        inset: 0%;
        box-shadow: rgb(149, 157, 165, 0.2) 0px 8px 24px;
        overflow: hidden;

        .item_content {
          background-color: #fff;
          color: #292929;
          flex-flow: column;
          justify-content: center;
          align-items: flex-start;
          padding: 3rem;
          display: flex;
          position: relative;
          width: 50%;
        }

        .item_media {
          object-fit: cover;
          width: 50%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .heading {
    font-size: 2.5rem;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .item_content,
  .item_media {
    height: 50vh;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .item_number {
    font-size: 0.5rem;
    top: 1.5rem;
  }
}
